.withCheckboxInput {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  justify-content: space-between;
  padding: 6px 8px;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  background: #fff;

  &.focused {
    &:not(.reversed) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.reversed {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &Text {
    width: 95%;
    font-size: 14px;
    padding: 0 8px 0 0;
  }

  &Icon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 5%;
  }
}
