@import "constants/index.scss";

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: 500;
}

.leftColumn,
.rightColumn {
  display: flex;
  align-items: center;
}

.closeOnRight {
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.icon {
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.7;
  &WithoutRightMargin {
    margin-right: 0px;
  }
  &:hover {
    opacity: 1;
  }
}
