@import "constants/index.scss";

:local {
  .dropdown {
    &Icon {
      position: absolute;
      top: 18px;
      right: 10px;
      transition: transform 0.3s ease;

      &Active {
        transform: rotate(180deg);
      }
    }
  }
}

.input {
  &.focused {
    &:not(.reversed) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.reversed {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
